@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  @apply m-0 box-border font-poppins; /* 添加 margin: 0 和 box-sizing: border-box */
}
